# OS
.DS_Store

# Node
node_modules/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example

# Secrets
.env
.env.*
!*.env.example
**/grafana-admin-secret.yaml

# IDE
.idea/
.vscode/

# Logs
*.log
