aws_region          = "us-east-1"
project_name        = "eks-demo"
environment         = "dev"
cluster_name        = "eks-demo-cluster"
cluster_version     = "1.29"
vpc_cidr            = "10.0.0.0/16"
single_nat_gateway  = true

node_instance_types = ["t3.medium"]
node_desired_size   = 2
node_min_size       = 1
node_max_size       = 4
node_disk_size      = 20

# Restrict to your IP in production, e.g. ["203.0.113.10/32"]
cluster_endpoint_public_access       = true
cluster_endpoint_public_access_cidrs = ["0.0.0.0/0"]
